<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["D1tCRM.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/navmenu.css"]" />
    <link rel="stylesheet" href="@Assets["css/login.css"]" />
    <link rel="stylesheet" href="@Assets["css/logout.css"]" />
    <link rel="stylesheet" href="@Assets["css/home.css"]" />
    <link rel="stylesheet" href="@Assets["css/employees.css"]" />
    <link rel="stylesheet" href="@Assets["css/projects.css"]" />
    <link rel="stylesheet" href="@Assets["css/tasks.css"]" />
    <link rel="stylesheet" href="@Assets["css/profile.css"]" />
    <ImportMap />
    <HeadOutlet />
    <link rel="icon" type="image/x-icon" href="/D1tCRM_logo.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
